@using FeesPackage.Data_Access;
@model List<tblAttorney>

@{
    ViewBag.Title = "Home Page";
}

<div class="span9">
    <div class="content">
        <h2 style="text-align: center">This will be the dashboard for the Fees Package Administration System</h2>
        <h3 style="text-align: center"><i>Please stay tuned!</i></h3>
        CNT: @ViewBag.CNT
    </div>
    <!--/.content-->
</div>
<!--/.span9-->
