<div class="container">
    <b class="copyright">&copy; 2020 Martin Law, LLC - <a href="http://paworkinjury.com">paworkinjury.com</a> </b>All rights reserved.<div style="float:right">Version: @typeof(FeesPackage.MvcApplication).Assembly.GetName().Version</div>
</div>
