<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees Package Administration</title>
    <link type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/css/theme.css" rel="stylesheet">
    <link type="text/css" href="~/Content/images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="~/Content/jqwidgets/css/jqx.base.css" rel="stylesheet">
    <link type="text/css" href="~/Content/jqwidgets/css/jqx.energyblue.css" rel="stylesheet">
    <link type="text/css" href="~/Content/css/jquery-ui.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-fixed-top">
        @{ Html.RenderPartial("~/Views/Shared/_NavbarInner.cshtml"); }
    </div>
    <!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                @{ Html.RenderPartial("~/Views/Shared/_Navbar.cshtml"); }
                @RenderBody()
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->
    <div class="footer">
        @{ Html.RenderPartial("~/Views/Shared/_Footer.cshtml"); }
    </div>
    <script src="~/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/scripts/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="~/Content/scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="~/Content/jqwidgets/js/jqx-all.js" type="text/javascript"></script>
    <script src="~/Content/jqwidgets/js/globalize.js" type="text/javascript"></script>
    <script src="~/Content/scripts/typewatch/jquery.typewatch.js" type="text/javascript"></script>
    <script src="~/Scripts/stringify.js" type="text/javascript"></script>
</body>
</html>
