@using FeesPackage.Data_Access;

@{
    User usr = (User)Session["LoggedInUser"];
}

<style>
    li.active a,
    li.active a i::before {
        color: red;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var pageURL = window.location.pathname.toLowerCase();
        $('[href="/' + pageURL.split('/')[1] + '"]').parent().attr('class', 'active');
    });
</script>

<div class="span3">
    <div class="sidebar">
        <ul class="widget widget-menu unstyled">
            @if ("ADMIN, OPS".Contains(usr.RoleId))
            {
                <li>
                    <a href="/checklist">
                        <i class="menu-icon icon-dashboard active"></i>Checklist
                    </a>
                </li>
            }
            <li>
                <a href="/clientinfo">
                    <i class="menu-icon far fa-address-card" style="width: 20px; text-align: center;"></i>Client Information
                </a>
            </li>
            <li>
                <a href="/dailypayments">
                    <i class="menu-icon far fa-money-bill-alt" style="width: 20px; text-align: center;"></i>Daily Payments
                </a>
            </li>
            @if ("ADMIN, OPS".Contains(usr.RoleId))
            {
                <li>
                    <a href="/mastertables">
                        <i class="menu-icon fa fa-columns" style="width: 20px; text-align: center;"></i>Master Tables <b class="label green pull-right">6</b>
                    </a>
                </li>
            }
            <li>
                <a href="/reports">
                    <i class="menu-icon far fa-file-alt" style="width: 20px; text-align: center;"></i>Reports <b class="label green pull-right">10</b>
                </a>
            </li>
            <li>
                <a href="/quickbooks">
                    <i class="menu-icon far fa-file-alt" style="width: 20px; text-align: center;"></i>QuickBooks
                </a>
            </li>
        </ul>
        <!--/.widget-nav-->
    </div>
    <!--/.sidebar-->
</div>
<!--/.span3-->
