@using FeesPackage.Models;
@model ClientInfoModel

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div>
        <div>Number of payments posted: @Model.Payments.Count()</div>
        <div>Total of payments posted: @string.Format("{0:C}", Model.Payments.Sum(x => x.Amount))</div>
    </div>
</body>
</html>
