@using FeesPackage.Data_Access;
@using Newtonsoft.Json;
@model List<tblAttorneyCombo>

@{
    ViewBag.Title = "tblAttorneyCombo";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        ready();
    });
</script>

<div class="span9">
    <div class="content">
        <div class="module">
            <div class="module-head">
                <h3>
                    <i>@ViewBag.Title</i> Table
                </h3>
            </div>
            <div class="module-body table">
                <span>Search: </span>
                <input type="text" id="search" placeholder="Type here ..." style="height: 21px; width: 200px;" />
                <button id="addrowbutton" style="float: right">+</button>
                <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left; width: 100%; height: 100%;">
                    <div id="jqxgrid"></div>
                </div>
            </div>
        </div>
        <!--/.module-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

<style>
    .disabled {
        background-color: #e0e9f5;
    }
</style>

<script>
    var groups = [];

    function ready() {
        // prepare the data
        var data = @Html.Raw(JsonConvert.SerializeObject(Model));
        var inUpdate = false;

        var source =
        {
            dataType: "json",
            updaterow: function (rowid, rowdata, commit) {
                if (!inUpdate) {
                    $.post('/masterTables/AttorneyCombo', rowdata, function (data, status, jqXHR) {
                        if ($("#jqxgrid").jqxGrid('getcellvaluebyid', rowid, 'id') != parseInt(data)) {
                            inUpdate = true;
                            $("#jqxgrid").jqxGrid('setcellvaluebyid', rowid, 'id', parseInt(data));
                            inUpdate = false;
                        }
                        commit(true);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    });
                }
            },
            dataFields: [
                { name: 'id', type: 'int' },
                { name: 'Deposit_Options', type: 'int' },
                { name: 'Attorney_Combinations', type: 'string' }
            ],
            id: 'attorneyCombos',
            localdata: data
        };
        var dataAdapter = new $.jqx.dataAdapter(source, {
            downloadComplete: function (data, status, xhr) { },
            loadComplete: function (data) { },
            beforeLoadComplete: function (records) { },
            loadError: function (xhr, status, error) { alert('loadError: status=' + status + ' error=' + error); },
        });
        var cellsrenderer_center = function (row, column, value) {
            return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
        }
        var columnrenderer_center = function (value) {
            return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
        }
        // create new row.
        $("#addrowbutton").on('click', function () {
            // add empty row in first position
            $("#jqxgrid").jqxGrid('addrow', null, {}, 'first');
            // begin editting newly added row, first column
            $("#jqxgrid").jqxGrid('begincelledit', 0, 'Deposit_Options');
        });
        $("#jqxgrid").jqxGrid(
        {
            theme: 'energyblue',
            width: '100%',
            height: '50%',
            autowidth: false,
            source: dataAdapter,
            showfilterrow: true,
            filterable: true,
            pageable: true,
            pagesize: 100,
            pagesizeoptions: ['5', '10', '20', '50', '100'],
            groupable: false,
            editable: true,
            sortable: true,
            ready: function () { setup(); },
            columnsresize: true,
            columns: [
                { text: 'id', datafield: 'id', filtertype: 'checkedlist', cellsalign: 'center', width: 75, align: 'center', editable: false, cellclassname: "disabled" },
                { text: 'Deposit Options', datafield: 'Deposit_Options', filtertype: 'checkedlist', cellsalign: 'center', width: 130, align: 'center' },
                { text: 'Attorney Combinations', datafield: 'Attorney_Combinations', filtertype: 'checkedlist', align: 'center' }
            ]
        });

        var options = {
            callback: function (value) {
                console.log(value);
                var searchText = value;
                var filter_or_operator = 1;
                var filtervalue = searchText;
                var filtercondition = 'CONTAINS';

                var filtergroup = new $.jqx.filter();
                filtergroup.operator = 'or';
                var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
                filtergroup.addfilter(filter_or_operator, filter);

                $("#jqxgrid").jqxGrid('clearfilters');
                $("#jqxgrid").jqxGrid('addfilter', "id", filtergroup);
                $("#jqxgrid").jqxGrid('addfilter', "Deposit_Options", filtergroup);
                $("#jqxgrid").jqxGrid('addfilter', "Attorney_Combinations", filtergroup);
                $("#jqxgrid").jqxGrid('applyfilters');
            },
            wait: 0,
            highlight: true,
            allowSubmit: false,
            captureLength: 1
        }
        $("#search").typeWatch(options);
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setup() {
        $("#jqxgrid").jqxGrid('autoresizecolumns');

        $(window).bind('resize', function () {
            $("#jqxgrid").jqxGrid(
            {
                // set height of grid to available space
                height: $(window).height() - ($('.navbar').height()
                                            + $('.module').height()
                                            + $('.footer').height()
                                            + 100 // fudge factor for padding/margins
                                             )
            });
        }).trigger('resize');
    }
</script>
