<style>
    .span12 .svg-inline--fa.fa-w-12,
    .span12 .svg-inline--fa {
        height: 30px;
        width: 30px;
    }

    .report_label {
        font-weight: bold;
        font-size: 10pt;
    }
</style>

<div class="span9">
    <div class="content">
        <div class="btn-controls">
            <div class="btn-box-row row-fluid">
                <div class="span9">
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/masterTables/attorney" class="btn-box small span4">
                                <i class="fas fa-balance-scale"></i>
                                <div class="report_label">Attorney</div>
                            </a>
                            <a href="/masterTables/attorneycombo" class="btn-box small span4">
                                <i class="fa fa-users"></i>
                                <div class="report_label">Handling/Credit Combinations</div>
                            </a>
                            <a href="/masterTables/deposittitledescription" class="btn-box small span4">
                                <i class="fas fa-piggy-bank"></i>
                                <div class="report_label">Deposit Title Descriptions</div>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/masterTables/county" class="btn-box small span4">
                                <i class="fa fa-map-marker"></i>
                                <div class="report_label">County</div>
                            </a>
                            <a href="/masterTables/referral" class="btn-box small span4">
                                <i class="fas fa-user-friends"></i>
                                <div class="report_label">Referral</div>
                            </a>
                            <a href="/masterTables/insuranceinfo" class="btn-box small span4">
                                <i class="fa fa-university"></i>
                                <div class="report_label">Insurance Information</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/#btn-controls-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->
