@using FeesPackage.Models;
@using Newtonsoft.Json;
@model ReferralModel

@{
    ViewBag.Title = "tblReferral";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        ready();
    });
</script>

<div class="span9">
    <div class="content">
        <div class="module">
            <div class="module-head">
                <h3>
                    <i>@ViewBag.Title</i> Table
                </h3>
            </div>
            <div class="module-body table">
                <span>Search: </span>
                <input type="text" id="searchRef" placeholder="Type here ..." style="height: 21px; width: 200px;" />
                <button id="addreferralbutton" style="float: right">+</button>
                <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left; width: 100%; height: 100%;">
                    <div id="referral"></div>
                </div>
            </div>
        </div>
        <!--/.module-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

<style>
    .disabled {
        background-color: #e0e9f5;
    }
</style>

<script>
    var groups = [];

    function ready() {
        // prepare the Attorney list dropdown data
        var locallista = @Html.Raw(JsonConvert.SerializeObject(Model.Attys));

        var locallistaSource = {
            datatype: "array",
            datafields: [
                    { name: 'Name', type: 'string' },
                    { name: 'Id', type: 'string' }
            ],
            localdata: locallista
        };
        var locallistaAdapter = new $.jqx.dataAdapter(locallistaSource);

        // prepare the data
        var data = @Html.Raw(Json.Encode(Model.Referrals));
        var inUpdate = false;

        var source =
        {
            dataType: "json",
            updaterow: function (rowid, rowdata, commit) {
                if (!inUpdate) {
                    $.post('/masterTables/referral', rowdata, function (data, status, jqXHR) {
                        if ($("#referral").jqxGrid('getcellvaluebyid', rowid, 'id') != parseInt(data)) {
                            inUpdate = true;
                            $("#referral").jqxGrid('setcellvaluebyid', rowid, 'id', parseInt(data));
                            inUpdate = false;
                        }
                        commit(true);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    });
                }
            },
            dataFields: [
                { name: 'id', type: 'int' },
                { name: 'Referral_Name', type: 'string' },
                { name: 'Referral_Firm', type: 'string' },
                { name: 'Referral_Tax_ID', type: 'string' },
                { name: 'Referral_Credit_Atty', type: 'string' }
            ],
            id: 'referral',
            localdata: data
        };
        var dataAdapter = new $.jqx.dataAdapter(source, {
            downloadComplete: function (data, status, xhr) { },
            loadComplete: function (data) { },
            beforeLoadComplete: function (records) { },
            loadError: function (xhr, status, error) { alert('loadError: status=' + status + ' error=' + error); },
        });
        var cellsrenderer_center = function (row, column, value) {
            return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
        }
        var columnrenderer_center = function (value) {
            return '<div style="text-align: center; margin-top: 5px;">' + value + '</div>';
        }
        // create new row.
        $("#addreferralbutton").on('click', function () {
            // add empty row in first position
            $("#referral").jqxGrid('addrow', null, {}, 'first');
            // begin editting newly added row, first column
            $("#referral").jqxGrid('begincelledit', 0, 'Referral_Name');
        });
        $("#referral").jqxGrid(
        {
            theme: 'energyblue',
            width: '100%',
            height: '50%',
            autowidth: false,
            source: dataAdapter,
            showfilterrow: true,
            filterable: true,
            pageable: true,
            pagesize: 100,
            pagesizeoptions: ['5', '10', '20', '50', '100'],
            groupable: false,
            editable: true,
            sortable: true,
            ready: function () { setup(); },
            columnsresize: true,
            columns: [
                { text: 'id', datafield: 'id', filtertype: 'checkedlist', cellsalign: 'center', width: 75, align: 'center', editable: false, cellclassname: "disabled" },
                { text: 'Referral Name', datafield: 'Referral_Name', filtertype: 'checkedlist', align: 'center' },
                { text: 'Referral Firm', datafield: 'Referral_Firm', filtertype: 'checkedlist', align: 'center' },
                { text: 'Referral Tax ID', datafield: 'Referral_Tax_ID', filtertype: 'checkedlist', align: 'center' },
                { text: 'Referral Credit Atty', datafield: 'Referral_Credit_Atty', filtertype: 'checkedlist', cellsalign: 'center', width: 145, align: 'center',
                    columntype: 'combobox',
                    createeditor: function (row, column, editor)
                    {
                        editor.jqxComboBox({
                            autoOpen: true,
                            dropDownHeight: 200,
                            dropDownWidth: 150,
                            searchMode: 'startswithignorecase',
                            source: locallistaAdapter,
                            displayMember: 'Id',
                            valueMember: 'Id',
                            placeHolder: 'Choose ...',
                            renderer: function (index, label, value)
                            {
                                //var item = editor.jqxComboBox('getSelectedItem');
                                return value;
                            }
                        });
                        editor.on('close', function (event) {
                            //var sel = $('#referral').jqxGrid('getselectedrowindex');
                            // this will lose focus on current dropdownlist, firing onChange event on this row
                            //setTimeout(function () { $("#referral").jqxGrid('begincelledit', sel, 'id'); }, 10);
                        });
                    }
                }
            ]
        });

        var options = {
            callback: function (value) {
                var searchText = value;
                var filter_or_operator = 1;
                var filtervalue = searchText;
                var filtercondition = 'CONTAINS';

                var filtergroup = new $.jqx.filter();
                filtergroup.operator = 'or';
                var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
                filtergroup.addfilter(filter_or_operator, filter);

                $("#referral").jqxGrid('clearfilters');
                $("#referral").jqxGrid('addfilter', "id", filtergroup);
                $("#referral").jqxGrid('addfilter', "Referral_Name", filtergroup);
                $("#referral").jqxGrid('addfilter', "Referral_Firm", filtergroup);
                $("#referral").jqxGrid('addfilter', "Referral_Tax_ID", filtergroup);
                $("#referral").jqxGrid('addfilter', "Referral_Credit_Atty", filtergroup);
                $("#referral").jqxGrid('applyfilters');
            },
            wait: 0,
            highlight: true,
            allowSubmit: false,
            captureLength: 1
        }
        $("#searchRef").typeWatch(options);
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function setup() {
        $("#referral").jqxGrid('autoresizecolumns');

        $(window).bind('resize', function () {
            $("#referral").jqxGrid(
            {
                // set height of grid to available space
                height: $(window).height() - ($('.navbar').height()
                                            + $('.module').height()
                                            + $('.footer').height()
                                            + 100 // fudge factor for padding/margins
                                             )
            });
        }).trigger('resize');
    }
</script>
