<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <style>
        .title {
            font-size: larger;
            font-weight: bold;
            float: left;
        }

        .date {
            float: right;
            font-style: italic;
        }

        .label {
            min-width: 246px;
            text-align: right;
            font-weight: bold
        }

        .value {
            min-width: 200px;
        }

        table.center {
            margin: auto;
            text-align: center;
        }

        td {
            min-width: 120px;
        }

        td.right, 
        th.right {
            text-align: right;
        }

        td.left, 
        th.left {
            text-align: left;
        }
    </style>

    <div style="max-width: 1000px;">
        ══════════════════════════════════════════════════════════════════════════════════════════
        <div class="title">Client Printout</div><div class="date">07-Feb-20</div>
        ══════════════════════════════════════════════════════════════════════════════════════════
        <p>
            <div style="float:left">
                <span class="label">Client Name: </span>
                <span>HINCHLIFFE, CAROLE</span>
            </div>
            <div style="float:right">
                <span class="label">Reference Number:</span>
                <span>101</span>
            </div>
        </p>
        <br />
        <br />
        <table>
            <tr>
                <td class="label">Handling Attorney:</td>
                <td class="value">GM</td>
                <td class="label">Handling Attorney %:</td>
                <td class="value">67.00%</td>
            </tr>
            <tr>
                <td class="label">Credit Attorney:</td>
                <td class="value">GM</td>
                <td class="label">Credit Attorney %:</td>
                <td class="value">33.00%</td>
            </tr>
            <tr>
                <td class="label">County:</td>
                <td class="value">Cty</td>
                <td class="label">Escrow %:</td>
                <td class="value">20.00%</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="label">Employer Name:</td>
                <td class="value">BENNETT CLOTHING STORE</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="label">Accident Description or Comments:</td>
                <td class="value">GM is HA as of December 2000. // C&R 10/30/17 // C&R 10/30/17</td>
            </tr>
        </table>
        <br />
        <table class="center" style="width:60%">
            <tr>
                <th class="left">Referral Attorney</th>
                <th class="right">Referral %</th>
            </tr>
            <tr>
                <td class="left">CAPEK, JOHN C.</td>
                <td class="right">20.00%</td>
            </tr>
        </table>
        <br />
        <br />
        <table class="center">
            <tr>
                <th>Claim Number</th>
                <th>Deposit Date</th>
                <th class="right">Payment</th>
                <th class="left">Period</th>
                <th>Amount</th>
                <th>Insurance Contact</th>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/15/1997</td>
                <td class="right">9/26/1997 => </td>
                <td class="left">10/9/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
            <tr>
                <td>01239437</td>
                <td>10/27/1997</td>
                <td class="right">10/10/1997 => </td>
                <td class="left">10/23/1997</td>
                <td>$95.00</td>
                <td class="left">717-963-4635</td>
            </tr>
        </table>
    </div>
</body>
</html>
