<div class="span9">
    <div class="content">
        <div class="btn-controls">
            <div class="btn-box-row row-fluid">
                <div class="span9">
                    <div class="row-fluid">
                        <div class="span12">
                            <a onclick="ReferralEscrowDetail()" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Referral Escrow Detail</b>
                            </a><a onclick="ReferralEscrowSummary()" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Referral Escrow Summary</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Referral Report</b>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Monthly Income Report</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Monthly Income Detail</b>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Claims w/ No Payments</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Claims w/ No Payments Over 30 Days</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Dormant Claims Report</b>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Print Range Posted Deposits</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Ref Atty Fees by FP</b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/#btn-controls-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

<div id="ToFromDlg" style="display:none">
    <p>Begin date: <input type="text" id="fromDate" /></p>
    <p>End date: <input type="text" id="toDate" /></p>
</div>

<script>
    function ReferralEscrowDetail() {
        $('#ToFromDlg').dialog({
            buttons: [{
                text: "Run",
                "id": "run",
                click: function () {
                    window.open('/Reports/ReferralEscrowDetail?fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val());
                    $('#ToFromDlg').dialog('close')
                }
            }],
            open: function() {
                $('#fromDate').datepicker({title:'From Date'}).blur();
                $('#toDate').datepicker({title:'To Date'}).blur();
            },
            close: function() {
                $('#fromDate').datepicker('destroy');
                $('#toDate').datepicker('destroy');
            },
        });
    }
    function ReferralEscrowSummary() {
        $('#ToFromDlg').dialog({
            buttons: [{
                text: "Run",
                "id": "run",
                click: function () {
                    window.open('/Reports/ReferralEscrowSummary?fromDate=' + $('#fromDate').val() + '&toDate=' + $('#toDate').val());
                    $('#ToFromDlg').dialog('close')
                }
            }],
            open: function() {
                $('#fromDate').datepicker({title:'From Date'}).blur();
                $('#toDate').datepicker({title:'To Date'}).blur();
            },
            close: function() {
                $('#fromDate').datepicker('destroy');
                $('#toDate').datepicker('destroy');
            },
        });
    }
</script>