<div class="span9">
    <div class="content">
        <div class="btn-controls">
            <div class="btn-box-row row-fluid">
                <div class="span9">
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/reports/ReferralEscrowDetail" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Referral Escrow Detail</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Referral Escrow Summary</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Referral Report</b>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Monthly Income Report</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Monthly Income Detail</b>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Claims w/ No Payments</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Claims w/ No Payments Over 30 Days</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Dormant Claims Report</b>
                            </a>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Print Range Posted Deposits</b>
                            </a><a href="/reports" class="btn-box small span4">
                                <i class="fas fa-file-alt"></i><b>Ref Atty Fees by FP</b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/#btn-controls-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->
